<%- include('../partials/nav.ejs') %> 
<div class="container text-center  " style="margin-left: 0px; margin-top: 20px;">
  <h1>Recipes</h1>
<hr>
<div class="row">
  <% if (allRecipes?.length> 0) { %>
    <% allRecipes.forEach(recipe => { %>
      <div class="col-md-4 mb-5">
        <div class="card" style="width: 18rem; margin:30px">
          <img src="<%= recipe.imageURL %>" class="card-img-top" alt="<%= recipe.title %>">
          <div class="card-body">
            <h5 class="card-title">
              <a class="recipe-title" href="/recipe/<%- recipe._id %> ">
                <%= recipe.title %>
            </a>
            </h5>
           <p class="card-text">
            <%= recipe.difficulty %>
            </p>
            <a href="/recipe/<%= recipe._id %>/update" class="btn btn-success">Edit</a>
            <a href="/recipe/<%= recipe._id %>/update" class="btn btn-light" >Add to Favourites</a>
            </div>
        </div>
      </div>
      <% }) %>
        <% } else { %>
          <p>You have no recipes yet!</p>
          <% } %>
            <hr />
</div>
</div>