<%- include('../partials/nav.ejs') %>
  <div class="container text-center  " style="margin-left: 0px; ">
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card" style="width: 50rem; margin:30px">
          <img src="<%= recipeFound.imageURL %>" alt="<%= recipeFound.title %>">
          <div class="card-body" style=" text-align: left;">
            <h4 style=" font-weight: bold; text-transform: uppercase;">
             <%= recipeFound.title %>
            </h4>
            <hr style="border-top: 1px solid rgb(123, 120, 120)">
            <p><span style="color: rgb(59, 34, 1);">Ingredients: </span>
              <%= recipeFound.ingredients %>
            </p>
            <p><span style="color: rgb(59, 34, 1);">Cooking Time: </span>
              <%= recipeFound.cookingTime %> minutes
            </p>
            <p><span style="color: rgb(59, 34, 1);">Serving Size: </span>
              <%= recipeFound.servingSize%>
            </p>
            <p><span style="color: rgb(59, 34, 1);">Instructions: </span>
              <%= recipeFound.instructions%>
            </p>
            <p><span style="color: rgb(59, 34, 1);">Origin: </span>
              <%= recipeFound.origin%>
            </p>
            <p><span style="color: rgb(59, 34, 1);">Difficulty: </span>
              <%= recipeFound.difficulty%>
            </p>
            <p><span style="color: rgb(59, 34, 1);">Video: </span>
             <a href=" <%= recipeFound.videoURL %>">link</a>
            </p>
            <iframe width="640" height="360" src=" <%= recipeFound.videoURL %>"
              title="recipeFound.title" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
            <br />
            <form method="POST" action="/recipe/<%- recipeFound._id %>/delete" >
              <button type="submit" class="btn btn-block btn-outline-dark" style="width: 13rem ;">
                Delete the recipe
              </button>
            </form>
            <br />
            <form method="GET" action="/recipe/<%- recipeFound._id %>/update">
              <button type="submit" class="btn btn-block btn-outline-dark" style="width: 13rem">
                Update the recipe
              </button>
            </form>
          </div>
        </div>
        
      </div>
    </div>

  </div>
 


 